<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>Kathy's Mini-Design System - Card</title>
     <link rel="icon" type="image/png" href="../images/favicon.JPG">
     
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../css/sidebars.css" rel="stylesheet">

     <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif+Dives+Akuru&display=swap" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-light bg-success border-bottom-0  sticky-top">
        <!-- Navbar toggle button (hamburger icon) -->
       
            
            <button class="navbar-toggler d-block d-md-none navbar-hieght"
                type="button" data-bs-toggle="offcanvas"
                data-bs-target="#sidebar"
                aria-controls="sidebar">
                 <span class="navbar-toggler-icon"></span>
            </button>
        
    </nav>

    </nav>
<!-- This topbar toggle to the off canvas -->
    <div class="offcanvas offcanvas-start bg-success d-md-block" 
        tabindex="-1" id="sidebar"
        aria-labelledby="sidebarLabel">
        <div class="offcanvas-header">
        
         <h1 class = "d-flex align-items-center text-center pb-3 link-dark text-decoration-none border-bottom" >Your large logo</h1>
            <button type="button"
                    class="btn-close text-reset"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close">
            </button>
        </div>
        <div class="offcanvas-body ">
            <ul class="nav flex-column">
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li><a href="../index.html" class="link-dark d-inline-flex text-decoration-none rounded">
                        <div class = "offCanvas-home"> 
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                          </svg>
                          Home</div>

                      </a></li>
                      </ul>
                  </li>
                    <li class="mb-1">
                      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" 
                      data-bs-toggle="collapse" data-bs-target="#foundations-collapse" aria-expanded="false">
                      Foundations
                      </button>
                      <div class="collapse" id="foundations-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                          <li><a href="../foundation/type.html" class="link-dark d-inline-flex text-decoration-none rounded ">Typography</a></li>
                          <li><a href="../foundation/color.html" class="link-dark d-inline-flex text-decoration-none rounded">Color</a></li>
                          <li><a href="../foundation/logo.html" class="link-dark d-inline-flex text-decoration-none rounded">Logo</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" 
                        data-bs-toggle="collapse" data-bs-target="#components-collapse" aria-expanded="false">
                         Components
                        </button>
                        <div class="collapse  show" id="components-collapse">
                          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="navbar.html" class="link-dark d-inline-flex text-decoration-none rounded">Navbar</a></li>
                            <li><a href="footer.html" class="link-dark d-inline-flex text-decoration-none rounded">Footer</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded"><span class = "activeLink rounded">Card</span></a></li>
                     
                          </ul>
                        </div>
                      </li>
                      <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" 
                        data-bs-toggle="collapse" data-bs-target="#patterns-collapse" aria-expanded="false">
                          Page Patterns
                        </button>
                        <div class="collapse" id="patterns-collapse">
                          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="../patterns/page1.html" class="link-dark d-inline-flex text-decoration-none rounded">Homepage</a></li>
                            <li><a href="../patterns/page2.html" class="link-dark d-inline-flex text-decoration-none rounded">Case Study</a></li>
                    </ul>
            </ul>
        </div>
    </div>
<!-- This is the sidebar menu -->
    <div class="container-fluid ">
        <div class="row">
            <nav id="sidebarMenu"
                class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar shadow">
                <div class="position-sticky bg-success vh-100">
                <div>
                      <a href="../index.html" class="d-flex align-items-center text-center pb-3 mb-3">
                        <div class="logo-container">
                          <a href="../index.html" class="d-flex justify-content-center align-items-center text-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                          <img src="../images/logo.JPG" alt="Logo" class="img-fluid" width="80">
                      </a>
                        </div>
                        <ul class="nav flex-column">
                            <ul class="list-unstyled ps-0">
                              
                                <li class="mb-1">
                                  <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" 
                                  data-bs-toggle="collapse" data-bs-target="#foundations-collapse" aria-expanded="false">
                                  Foundations
                                  </button>
                                  <div class="collapse" id="foundations-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                      <li><a href="../foundation/type.html" class="link-dark d-inline-flex text-decoration-none rounded">Typography</a></li>
                                      <li><a href="../foundation/color.html" class="link-dark d-inline-flex text-decoration-none rounded">Color</a></li>
                                      <li><a href="../foundation/logo.html" class="link-dark d-inline-flex text-decoration-none rounded">Logo</a></li>
                                    </ul>
                                  </div>
                                </li>
                                <li class="mb-1">
                                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" 
                                    data-bs-toggle="collapse" data-bs-target="#components-collapse" aria-expanded="false">
                                     Components
                                    </button>
                                    <div class="collapse  show" id="components-collapse">
                                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a href="navbar.html" class="link-dark d-inline-flex text-decoration-none rounded">Navbar</a></li>
                                        <li><a href="footer.html" class="link-dark d-inline-flex text-decoration-none rounded">Footer</a></li>
                                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded"><span class = "activeLink rounded">Card</span></a></li>
                                 
                                      </ul>
                                    </div>
                                  </li>
                                  <li class="mb-1">
                                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" 
                                    data-bs-toggle="collapse" data-bs-target="#patterns-collapse" aria-expanded="false">
                                      Page Patterns
                                    </button>
                                    <div class="collapse" id="patterns-collapse">
                                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a href="../patterns/page1.html" class="link-dark d-inline-flex text-decoration-none rounded">Homepage</a></li>
                                        <li><a href="../patterns/page2.html" class="link-dark d-inline-flex text-decoration-none rounded">Case Study</a></li>
                                </ul>
                        </ul>
                    </div>
                </div>
            </nav>


       <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 ">
         
      <!-- Page Content  -->
      <div class = "container-fluid overflow-auto">
        <div class = "row p-5">
          <div id="content">
            <h1>Card</h1>
            <p>The cards act as a clickable element that is linked to a project page.</p>
     
                        <div class="col-lg-6 col-md-12 py-2">
              <div class="card h-100 bg-card rounded-0" style="max-width: 350px; height: auto; padding-bottom: 45px;">
                <img src="../images/project.JPG" alt="image placeholder">
                <div class="card-body">
                  <h3 class="card-title">Project title</h3>
                  <p class="card-text" style="padding-bottom: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <a href="#" class="btn btn-primary position-absolute start-50 translate-middle-x mb-5" data-bs-toggle="modal" data-bs-target="#Movie1" style="background-color: #0B71B8; border: none; font-weight:bold;">Button</a>
                  <a href="#" class="stretched-link"></a>
                </div>
              </div>
            </div>
          </div>

          <!-- Code  -->
          <h3 style="padding-top: 20px;">Code</h3>
          <div class="col code-background ">
<pre class="language-markup"><code>
    &lt;div class=&quot;col-lg-6 col-md-12 py-2&quot;&gt;
        &lt;div class=&quot;card h-100 bg-card rounded-0&quot; style=&quot;max-width: 350px; height: auto; padding-bottom: 45px;&quot;&gt;
            &lt;img src=&quot;../images/project.JPG&quot; alt=&quot;image placeholder&quot;&gt;
            &lt;div class=&quot;card-body&quot;&gt;
                &lt;h3 class=&quot;card-title&quot;&gt;Project title&lt;/h3&gt;
                &lt;p class=&quot;card-text&quot; style=&quot;padding-bottom: 20px;&quot;&gt;
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                &lt;/p&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn btn-primary position-absolute start-50 translate-middle-x mb-5&quot; 
                   data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#Movie1&quot; 
                   style=&quot;background-color: #0B71B8; border: none; font-weight:bold;&quot;&gt;
                   Button
                &lt;/a&gt;
                &lt;a href=&quot;#&quot; class=&quot;stretched-link&quot;&gt;&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
</code></pre>
</div>

<div class="col-12 mt-3">
  <h3 style="padding-top: 20px;">Use</h3>
  <ul class="use">
    <li>Use cards to display overview of project information.</li>
    <li>Cards will include image of project for visual appeal.</li>
    <li>The entire card, including the button, will be clickable.</li>
  </ul>
</div>

<div class="col-12 mt-3">
  <h3>Accessibility Considerations</h3>
  <p>
    To ensure the website is accessible, the image of each card will include an alt text description. This is important for users who rely
    on screen readers as it will help them understand the visual content. Alt text descriptions will be crafted to convey specific information,
     instead of generic placeholders like "image."
     The button will have concise yet descriptive labels to communicate their purpose. These buttons will also have sufficient 
     size and spacing, ensuring usability for those with motor impairments.
    The color contrast between the text and background will also meet accessibility standards (WCAG).

    
  </p>
</div>

    </div><!-- col -->
    </div><!-- Row  -->
      </div><!-- Container -->
      </div>      <!-- Content  -->

               
            </main>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </script>
</body>

</html>
